.filter {
  &.main {
    display: flex;
    margin-left: 0;
    padding: 20px;
    padding-right: 10px;
    height: auto;
    width: 100%;
  }

  &.filter-select-category {
    outline: none;
    padding: 5px 0 5px 15px;
    border: 1px solid rgb(156, 156, 156);
    border-right: none;
    background-color: transparent;
    border-radius: 10px 0 0 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 1px;
    max-width: 100%;
    flex-grow: 1;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  &.filter-select-name {
    outline: none;
    padding: 5px 0 5px 15px;
    border: 1px solid rgb(156, 156, 156);
    border-right: none;
    // border-left: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    flex-grow: 1;
    width: 0;

    @media (min-width: 768px) {
      flex-grow: 1;
      font-size: 20px;
    }
  }

  &.filter-close-box {
    width: 10px;
    border: 1px solid rgb(156, 156, 156);
    border-left: none;
    border-radius: 0 10px 10px 0;
  }
}
