.logo {
  &.main {
    display: flex;
    color: $fourth-color;
    flex-shrink: 0;
    margin: 20px;
  }

  &.image {
    align-self: center;
    height: 50px;
    border-radius: 10px;

    @media (min-width: 768px) {
      height: 100px;
    }
  }

  &.text {
    align-self: center;
    font-size: 30px;
  }
}
