.logo {
  &.main {
    // padding: 20px;
    display: flex;
    color: $fourth-color;
    flex-shrink: 0;
  }

  &.image {
    align-self: center;
    height: 50px;

    @media (min-width: 768px) {
      height: 100px;
    }
  }

  &.title {
    height: auto;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: -15px;

    @media (min-width: 768px) {
      font-size: 40px;
      margin-left: -30px;
    }
  }
}
