.pokemons-list {
  &.main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
