.search {
  &.main {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }

  &.search-input {
    outline: none;
    padding: 5px 0 5px 15px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px 0 0 10px;
    border-right: none;
    width: 100%;

    @media (min-width: 768px) {
      font-size: 30px;
    }
  }

  &.search-button {
    background-color: transparent;
    border: 1px solid rgb(156, 156, 156);
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &.search-icon {
    height: 20px;
    display: block;

    @media (min-width: 768px) {
      height: 40px;
    }
  }
}
