.toggle-filter-search {
  &.main {
    display: flex;
    margin: 10px;
    padding: 10px;
  }

  &.toggle-button {
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    margin-left: 0;
    padding-left: 0;

    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
}
