.toggle-filter-search {
  &.main {
    display: grid;
    margin: 10px;
    padding: 10px;
    width: auto;
    grid-template-columns: 1fr 4fr 1fr;
  }

  &.toggle-button {
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
  }
}
